mrclean.xml
control.xml
mrclean.key
keys.key
__pycache__/SimpliVityClass.cpython-36.pyc
__pycache__/vCenterClass.cpython-36.pyc
SimpliVityClass.py.old
__pycache__/SimpliVityClass.cpython-37.pyc
data/BBNRefPolicies.json
data/mrclean.2019-10-21.log
data/mrclean.2019-10-23.log
__pycache__/vCenterClass.cpython-37.pyc
SimpliVityClass.py
mrclean.xml.old.xml
SimpliVityClass.py
test.py
